<div class="navbar">
    <div class="mid-menu">
        <div class="title">Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>

<div class="innerview-container">
    
    <div class="menu-item">
        <div class="title bold">User</div>
    </div>

    <div id="activitiesBtn" class="menu-item">
        <div class="text-left">Activities</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>

    <div id="kidsBtn" class="menu-item">
        <div class="text-left">Kids</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    
    <!-- this uses old toggle method
    <div class="menu-item">
        <div class="text-left">Auto Calendar Sync</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="addToCalendarBtn" type="checkbox" class="check" checked="false">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>
    -->

    <div class="menu-item">
        <div class="text-left">Email Delivery</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="emailDeliveryBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>
 
    <div id="contactInfoBtn" class="menu-item">
        <div class="text-left">Contact Info</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> 

    <div id="contactPermissionsDefaultBtn" class="menu-item">
        <div class="text-left">Contact Permissions Default</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
 
    <div id="accessBtn" class="menu-item">
        <div class="text-left">Access (Account Link)</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> 

    <div id="defaultListBtn" class="menu-item">
        <div class="text-left">Default List</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>

    <div class="empty-space-item"></div>
    <div id="userId" class="menu-item">   
    </div>

</div>
