<div class="navbar">
    <div class="mid-menu">
        <div class="title">Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>

<div class="innerview-container">

    <div class="desc">Select information to share with other parents.</div>

    <!-- Old toggle method
    <div class="menu-item">
        <div class="text-left">Parent First Name</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="parentFirstNameBtn" type="checkbox" class="check">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>
     -->

    <div class="menu-item">
        <div class="text-left">Parent First Name</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="parentFirstNameBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Parent Last Name</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="parentLastNameBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Child First Name</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="childFirstNameBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Child Last Name</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="childLastNameBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">E-Mail</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="emailBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Home Phone</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="homePhoneBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>


    <div class="menu-item">
        <div class="text-left">Mobile Phone</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="mobilePhoneBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Work Phone</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="workPhoneBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Address</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="addressBtn" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>

</div>
