<div class="navbar">
    <div class="mid-menu">
        <div class="title">Group Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="doneBtn" class="right-menu text hidden">Done</div>
</div>

<div class="innerview-container">
    <div class="lower-area hidden">
        <div id="content" class="wrapper">

            {{!-- <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Kindergarten</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Mrs. Apple's Class</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Ms. Pear's Class</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Mr. Pineapple's Class</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Mrs. Cherry's Class</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> My Contacts</div>
            </div> --}}

        </div>
    </div>

    <div class="upper-area hidden">
        <div class="menu-item">
            <div class="title bold">Add - Students</div>
        </div>

        <div class="search-box">
            <div class="field">
                <input id="searchTxt" class="input" type="text" placeholder="Search here" />
                <div id="searchBtn" class="icon-wrapper"><i class="icon-fontello-search-1 fa-flip-horizontal"></i></div>
            </div>
        </div>
    </div>

</div>
