<div class="navbar">
    <div class="mid-menu">
        <div class="title">Kids</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>{{!-- 
    <div id="createBtn" class="abs-right-menu">
        <i class="icon-fontello-plus"></i>
    </div> --}}
    <div id="createBtn" class="right-menu" style="right: -10px;">
        <i class="icon-fontello-plus"></i>
    </div>
</div>

<div id="main-content" class="innerview-container">

    <div id="spinner" class="spinner-wrapper text-center"></div>
    {{!-- 
    <div class="menu-item">
        <div class="text-left bold" style="color:#ff9500;">Sally</div>
        <div class="icon-right"><i class="icon-right-open"></i></div>
    </div>

    <div class="menu-item">
        <div class="text-left bold" style="color:#007aff;">Johnny</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> 
    --}}

</div>
