<div class="navbar">
    <div class="mid-menu">
        <div class="title">Organization Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="editBtn" class="right-menu text">Edit</div>
</div>

<div class="innerview-container white-bg">

    <div class="menu-item no-border-bottom">
        <div class="title bold">ABC School Info</div>
    </div>

    <div class="info-wrapper">
        <div class="info">
            <div class="info-label">Organization ID#</div>
            <div class="info-content">G3457URIO09</div>
        </div>
        <div class="info">
            <div class="info-label">Organization Name</div>
            <div class="info-content">ABC School</div>
        </div>
    </div>

    <div class="big-qrcode">
    </div>

</div>
