<div class="navbar">
    <div class="mid-menu">
        <div class="title">Organization Settings</div>
    </div>
    <div id="cancelBtn" class="left-menu text">Cancel</div>
    {{!-- <div id="editBtn" class="right-menu text">Edit</div> --}}
</div>

<div class="innerview-container white-bg setting-body with-submit-box">

    <div class="menu-item">
        <div class="title bold">Add Student</div>
    </div>

    <div class="email-box">
        Enter Child ID
        <div class="field">
            <input id="childId" class="input" type="text" autocapitalize="none" placeholder="Child ID" value="">
        </div>
        <div class="small-font">* The child ID is case-sensitive.</div>
        <div id="submit" class="submit-btn" style="margin-top: 5px;">Submit</div>
    </div>


</div>

