<div class="navbar">
    <div class="mid-menu">
        <div class="title">Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>

<div id="main-content" class="innerview-container">
    <div id="spinner" class="spinner-wrapper text-center"></div>

    <div class="desc hidden">Select contact information to share with other parents of <span id="nameOfActivity"></span></div>

    
{{!-- 
    <div class="status-tab hidden">
        <div class="wrapper">
            <div class="btn-left">Default</div>
            <div class="btn-right highlight">Custom</div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Parent First Name</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="parentFirstNameBtn" type="checkbox" class="check" checked="true">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Parent Last Name</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="parentLastNameBtn" type="checkbox" class="check" checked="true">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Child First Name</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="childFirstNameBtn" type="checkbox" class="check" checked="true">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Child Last Name</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="childLastNameBtn" type="checkbox" class="check" checked="true">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">E-Mail</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="emailBtn" type="checkbox" class="check" checked="true">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Home Phone</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="homePhoneBtn" type="checkbox" class="check" checked="true">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>


    <div class="menu-item">
        <div class="text-left">Mobile Phone</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="mobilePhoneBtn" type="checkbox" class="check" checked="true">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Work Phone</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="workPhoneBtn" type="checkbox" class="check" checked="true">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Address</div>
        <div class="switch-right">
            <div class="toggle">
                <input id="addressBtn" type="checkbox" class="check" checked="true">
                <b class="b switch"></b>
                <b class="b track"></b>
            </div>
        </div>
    </div>
    
    <div class="empty-space-item"></div>
 --}}
</div>
