<div class="navbar">
    <div class="mid-menu">
        <div class="title">Add Activity</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="doneBtn" class="right-menu text">Done</div>
</div>

<div class="innerview-container">

    
    <div class="menu-item no-border-bottom">
        <div class="title">Who is {Activity Name} for?</div>
    </div>

</div>
