<div class="navbar">
    <div class="mid-menu">
        <div class="title">Add Activity</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>

<div class="innerview-container">

    
    <div class="menu-item no-border-bottom">
        <div class="text-center">Enter Activity Code</div>
    </div>

    <div class="textfield-wrapper">
        <div class="field">
            <input id="qrcode" class="input" type="text" placeholder="" value="Enter QR Code here" />
        </div>
    </div>

    <div id="submitBtn" class="menu-item no-border-bottom">
        <div class="text-center scan-btn">Submit</div>
    </div>
</div>
