<div class="navbar">
    <div class="mid-menu">
        <div class="title">Organization Settings</div>
    </div>
    <div id="cancelBtn" class="left-menu text">Cancel</div>
    {{!-- <div id="editBtn" class="right-menu text">Edit</div> --}}
</div>
<div class="innerview-container white-bg setting-body with-submit-box">
    <div class="menu-item">
        <div class="title bold">Add Student</div>
    </div>
    <div id="" class="email-box">
        Enter e-Mail
        <div class="field">
            <input id="email" class="input" type="email" autocapitalize="none" placeholder="Email" value="">
        </div>
        <div id="submit" class="submit-btn">Submit</div>
    </div>
</div>