<div class="navbar">
    <div class="mid-menu">
        <div class="title">Privacy Policy</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>
<div class="innerview-container" style="background:#fff;">
    <div class="desc">    
        <div class=WordSection1>

            <p class=MsoNormal><span lang=EN-US>PARENT PLANET, LLC WILL NOT SHARE, SELL OR
            LEASE YOUR INFORMATION OR DATA TO ANY 3<sup>RD</sup> PARTY.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Parent Planet, LLC, (Parent Planet), is
            committed to keeping any and all personal information collected of those
            individuals that visit our website and make use of our online facilities,
            services and mobile applications accurate, confidential, secure and private.
            Our privacy policy has been designed and created to ensure those affiliated
            with Parent Planet, LLC of our commitment and realization of our obligation not
            only to meet but to exceed most existing privacy standards.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>THEREFORE</span></b><span lang=EN-US>,
            this Privacy Policy Agreement shall apply to Parent Planet, LLC, and thus it
            shall govern any and all data collection and usage thereof. Through the use of www.parentplanet.com and the Parent
            Planet mobile application you are herein consenting to the following data
            procedures expressed within this agreement.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal style="text-indent:1em;"><b><span lang=EN-US>Collection
            of Information</span></b></p><p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span lang=EN-US>This Website and
            Mobile Application collect various types of information, such as:</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoListParagraph style='margin-left:1.2em;text-indent:-18.0pt'><span
            lang=EN-US style="font-family:Symbol;margin-left:1em;">·<span>&nbsp;
            </span></span><span lang=EN-US>Voluntarily provided information which may
            include your name, address, email address, phone numbers, your children’s
            names, children’s address, children’s phone number, children’s school,
            children’s affiliated organizations/after-school activities, children’s
            schedule, and your billing and/or credit card information which may be used
            when you purchase a subscription plan to use the Parent Planet system.</span></p>
            <p class=MsoListParagraph style='margin-left:1.2em'><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoListParagraph style='margin-left:1.2em;text-indent:-18.0pt'><span
            lang=EN-US style="font-family:Symbol;margin-left:1em;">·<span >&nbsp;
            </span></span><span lang=EN-US>Parent Planet, LLC Partners include schools, organizations
            and individual users that share with Parent Planet, LLC personally identifiable
            information about your children, including schedules, messages and homework for
            the sole purpose of communicating this information to users. We only retain
            this information for as long as it is necessary to properly supply this
            information to users and we regularly delete all information when it is no
            longer needed. Our passion and goal is to deliver this information to
            parents/caregivers in the most efficient and useful way possible and nothing
            more.  </span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoListParagraph style='margin-left:1.2em;text-indent:-18.0pt'><span
            lang=EN-US style="font-family:Symbol;margin-left:1em;">·<span >&nbsp;
            </span></span><span lang=EN-US>Information automatically collected when
            visiting our website, which may include cookies, third party tracking
            technologies and server logs.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Please rest assured that this site shall
            only collect personal information that you knowingly and willingly provide by
            way of surveys, completed membership forms, emails, and information you have
            previously supplied to Parent Planet, LLC partners. It is the intent of this
            site to use personal information only for the purpose for which it was
            requested and any additional uses specifically provided on this site and the
            Parent Planet mobile application.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Parent Planet, LLC may have the occasion to
            collect anonymous demographic information such as age, gender, household
            income, political affiliation, race and religion at a later time. We may also
            gather information about the type of browser you are using, IP address or type
            of operating system to assist us in providing and maintaining superior quality
            service.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>It is highly recommended and suggested that
            you review the privacy policies and statements of any website you chose to use
            or frequent as a means to better understand the way in which other websites
            garner, make use of and share information collected.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>Use of Information Collected</span></b></p><p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Parent Planet, LLC may collect and may make
            use of personal information to assist in the operation of our website and
            mobile applications and to ensure delivery of the services you need and
            request. Parent Planet is a website, mobile application and service targeted to
            adults and children over the age of 13. Only adults over the age of 18 may sign
            up for accounts and they must clearly authorize any use of the Parent Planet
            system, website or mobile application for use by their children whom will also
            be bound by this Privacy Policy Agreement. Parent Planet, LLC may collect
            information about children under age 13 for the sole purpose of delivering this
            information to parents/caregivers. At times, we may find it necessary to use
            personally identifiable information as a means to keep you informed of other
            possible products and/or services that may be available to you from www.parentplanet.com. Parent Planet, LLC
            may also be in contact with you with regards to completing surveys and/or
            research questionnaires related to your opinion of current or potential future
            services that may be offered.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Parent Planet, LLC does not now, nor will
            it in the future, sell, rent or lease any of our customer and/or user
            information and/or names to any third parties.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Parent Planet, LLC may deem it necessary to
            follow website and/or pages that our users may frequent in an effort to gleam
            what types of services and/or products may be the most popular to customers or
            the general public.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Parent Planet, LLC may disclose your
            personal information, without prior notice to you, only if required to do so in
            accordance with applicable laws and/or in a good faith belief that such action
            is deemed necessary or is required in an effort to:</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoListParagraph style='text-indent:-18.0pt'><span lang=EN-US
            style="font-family:Symbol;margin-left:1em;">·<span >&nbsp;
            </span></span><span lang=EN-US>Remain in conformance with any decrees, laws,
            and/or statutes or in an effort to comply with any process which may be served
            upon Parent Planet, LLC and/or our website;</span></p>
            <p class=MsoListParagraph style='text-indent:-18.0pt'><span lang=EN-US
            style="font-family:Symbol;margin-left:1em;">·<span >&nbsp;
            </span></span><span lang=EN-US>Maintain, safeguard and/or preserve all the
            rights and/or property of Parent Planet, LLC; and</span></p>
            <p class=MsoListParagraph style='text-indent:-18.0pt'><span lang=EN-US
            style="font-family:Symbol;margin-left:1em;">·<span >&nbsp;
            </span></span><span lang=EN-US>Perform under demanding conditions in an effort
            to safeguard the personal safety of users or www.parentplanet.com and/or the general
            public.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>Unsubscribe or Opt-Out</span></b></p><p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>All users and/or visitors to our website and
            mobile applications have the option to discontinue receiving communication from
            us and/or reserve the right to discontinue receiving communications by way of
            email or newsletters. All users also have the right to request the deletion of
            their personal information stored on our servers. To discontinue or unsubscribe
            to our website please send an email that you wish to unsubscribe to <a
            href="mailto:unsubscribe@parentplanet.com">unsubscribe@parentplanet.com</a>. </span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>Links to Other Web Sites</span></b></p><p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Our website may contain links to other
            websites. Parent Planet, LLC does not claim nor accept responsibility for any
            privacy policies, practices, and/or procedures of other such websites.
            Therefore, we encourage all users and visitors to be aware when they leave our
            website and to read the privacy statements of each and every website that
            collects personally identifiable information. The aforementioned Privacy Policy
            Agreement applies only and solely to the information collected by our website.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>Security</span></b></p><p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Parent Planet, LLC shall endeavor and shall
            take every precaution to maintain adequate physical, procedural and technical
            security with respect to our offices and information storage facilities so as
            to prevent any loss, misuse, unauthorized access, disclosure or modification of
            the user’s personal information under our control.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>The company also uses Secure Socket Layer
            (SSL) for authentication and private communications in an effort to build
            users’ trust and confidence in the internet and website use by providing simple
            and secure access and communication of credit card and personal information.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>Changes to Privacy Policy Agreement</span></b></p><p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Parent Planet, LLC reserves the right to
            update and/or change the terms of our privacy policy, and as such we will post
            those changes to our website homepage at www.parentplanet.com
            and mobile applications’ settings pages, so that our users and/or visitors are
            always aware of the type of information we collect, how it will be used, and
            under what circumstances, if any, we may disclose such information. If at any
            point in time Parent Planet, LLC decides to make use of any personally
            identifiable information on file, in a manner vastly different from which was
            stated when this information was initially collected, the user or users shall
            be promptly notified in advance by email. Users at that time shall have the
            option as to whether or not to permit the use of their information in this
            separate manner.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>Acceptance of Terms</span></b></p><p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>Through the use of this website and/or
            mobile applications, you are hereby accepting the terms and conditions stipulated
            within the aforementioned Privacy Policy Agreement. If you are not in agreement
            with our terms and conditions, then you should refrain from further use of our
            sites/mobile applications. In addition, your continued use of our website
            and/or mobile applications following the posting of any updates or changes to
            our terms and conditions shall mean that you are in agreement and acceptance of
            such changes.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>How to Contact Us</span></b></p><p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>If you have any questions or concerns
            regarding the Privacy Policy Agreement related to our website, please feel free
            to contact us at the following email, telephone number or mailing address.</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>Email:</span></b><span lang=EN-US> info@parentplanet.com</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>Telephone Number:</span></b><span
            lang=EN-US> 800-305-6114</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><b><span lang=EN-US>Mailing Address:</span></b></p><p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>            13547 Ventura Blvd, Suite 244</span></p>
            <p class=MsoNormal><span lang=EN-US>            Sherman Oaks, CA 91423</span></p>
            <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            <p class=MsoNormal><span lang=EN-US>6/23/2014</span></p>

        </div>
    </div>
</div>
