<div class="navbar">
    <div class="mid-menu">
        <div class="title">Add Child Name and Member Email</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>
<div class="innerview-container">
    <div id="addByIdBtn" class="menu-item">
        <div class="text-left">Enter User or Child ID</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <!--
    <div id="addByMobileBtn" class="menu-item">
        <div class="text-left">Enter Mobile # and Name</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    -->
    <div id="addByEmailBtn" class="menu-item">
        <div class="text-left">Enter Email and Name</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
</div>
