<div class="navbar">
    <div class="mid-menu">
        <div class="title">Group Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="doneBtn" class="right-menu text hidden">Done</div>
</div>

<div id="content" class="innerview-container">
    <div id="spinner" class="spinner-wrapper text-center"></div>

    <div id="title" class="menu-item hidden">
        <div id="titleTxt" class="title bold">Group Admin - Kindergarten</div>
        <div id="addBtn" class="right-btn"><i class="icon-fontello-plus"></i></div>
    </div>

    {{!-- 
    <div class="menu-staff-editor">
        <div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div>
        <div class="info">
            Ms. Sandy Shaddow
            <div class="field">
                <input class="input" type="text" placeholder="Position here" value="Teacher">
            </div>
        </div>
        <div class="delete-btn">Delete</div>
    </div>

    <div class="menu-staff-editor">
        <div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div>
        <div class="info">
            Mr. Peter Rodgers
            <div class="field">
                <input class="input" type="text" placeholder="Position here" value="Asst. Teacher">
            </div>
        </div>
    </div>

    <div class="menu-staff-editor">
        <div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div>
        <div class="info">
            Mary Kari
            <div class="field">
                <input class="input" type="text" placeholder="Position here" value="Room Mom">
            </div>
        </div>
    </div> --}}



</div>
