<div class="navbar">
    <div class="mid-menu">
        <div class="title">Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>

<div id="organizationList" class="innerview-container">

    <div class="menu-item">
        <div class="title bold">Organizations</div>
    </div>

    <div id="spinner" class="spinner-wrapper text-center"></div>

    {{!-- <div class="menu-item">
        <div class="text-left">ABC School</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>

    <div class="menu-item">
        <div class="text-left">Soccer Club</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> --}}


</div>
