<div class="navbar">
    <div class="mid-menu">
        <div class="title">Account Access</div>
    </div>
    <div id="backBtn" class="left-menu text">Cancel</div>
    <!--div id="doneBtn" class="right-menu text hidden">Done</div-->
</div>
<div class="innerview-container white-bg setting-body with-submit-box">
    <div class="desc">
    To provide access to your ParentPlanet account, please enter details for the new user to link to.
    </div>
    <div id="" class="email-box">
        Enter First Name
        <div class="field">
            <input id="firstName" class="input" type="text" placeholder="First name" value="">
        </div>
        Enter Last Name
        <div class="field">
            <input id="lastName" class="input" type="text" placeholder="Last name" value="">
        </div>
        Enter Email Address
        <div class="field">
            <input id="email" class="input" type="email" autocapitalize="none" placeholder="User email" value="">
        </div>
        <div class="small-font">* Please enter all fields.</div>
        <div id="submit" class="submit-btn" style="margin-top: 5px;">Submit</div>
    </div>
</div>
