<div class="navbar">
    <div class="mid-menu">
        <div class="title">Add Student</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>

<div class="innerview-container">
    {{!-- ToDo - Remove unworking menus that are not working (no design founded in wireframes) --}}
    {{!-- <div class="menu-item">
        <div class="text-left">Scan QR Code</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> --}}

    {{!-- <div id="addFromOrganization" class="menu-item">
        <div class="text-left">Add from Organization</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> --}}

    {{!-- <div class="menu-item">
        <div class="text-left">Enter Student ID #</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> --}}

    <div id="addByIdBtn" class="menu-item">
        <div class="text-left">Enter Child ID</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    
    {{!-- <div id="addByNameBtn" class="menu-item">
        <div class="text-left">Enter Child Name</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> --}}

    <div id="addByNameEmailBtn" class="menu-item">
        <div class="text-left">Enter Email and Student Name</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>

    {{!-- <div id="addByNameMobileBtn" class="menu-item">
        <div class="text-left">Enter Mobile # and Student Name</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> --}}

    {{!-- <div class="menu-item">
        <div class="text-left">Enter Mobile Number</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> --}}


</div>
