<div class="navbar">
    <div class="mid-menu">
        <div class="title">Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>{{!--
    <div id="createBtn" class="right-menu"><i class="icon-fontello-plus"></i></div> --}}
</div>

<div class="innerview-container">
    <div id="userBtn" class="menu-item border-top">
        <div class="text-left">User</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <div id="organizationsBtn" class="menu-item">
        <div class="text-left">Organizations</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <div id="mygroupsBtn" class="menu-item">
        <div class="text-left">My Groups</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <!-- ADD IN V2 <div class="empty-space-item"></div>
    <div id="addNewActivityBtn" class="menu-item border-top">
        <div class="text-left">Add New Activity</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> -->
    <div id="addNewOrganizationBtn" class="menu-item hidden">
        <div class="text-left">Add New Organization</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    {{!--
    We dont need this, you can create a new group in MyGroup and in Organization Group
    --}}
    {{!-- <div id="addNewGroupBtn" class="menu-item">
        <div class="text-left">Add New Group</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>  --}}
    <div class="empty-space-item"></div>
    <div id="privacyPolicyBtn" class="menu-item border-top">
        <div class="text-left">Privacy Policy</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <div id="termsOfServiceBtn" class="menu-item">
        <div class="text-left">Terms of Use</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <div class="empty-space-item"></div>
    <div id="signoutBtn" class="menu-item" ><div class="text-center">Sign Out</div></div>
    <div class="empty-space-item"></div>
    <div id="refreshBtn" class="menu-item" ><div class="text-center">Refresh</div></div>
    <div style="width: 100%; padding: 10px;">
      <div>
        <div style="float: left; padding-right: 10px; font-weight: bolder; width: 20%;">
            Server
        </div>
        <div style="float: left; color: blue; font-style: oblique; width: 80%">
            {{ModeServer}}
        </div>
      </div>
      <div>
        <div style="float: left; padding-right: 10px; font-weight: bolder; width: 20%;">
            BuildDate
        </div>
        <div style="float: left; color: blue; font-style: oblique; width: 80%">
            {{BuildDate}}
        </div>
      </div>
      <div>
        <div style="float: left; padding-right: 10px; font-weight: bolder; width: 20%;">
            Android
        </div>
        <div style="float: left; color: blue; font-style: oblique; width: 80%">
            {{AndroidBuild}}
        </div>
      </div>
      <div>
        <div style="float: left; padding-right: 10px; font-weight: bolder; width: 20%;">
            WebApp
        </div>
        <div style="float: left; color: blue; font-style: oblique; width: 80%">
            {{WebBuild}}
        </div>
      </div>
    </div>
</div>
