<div class="navbar">
    <div class="mid-menu">
        <div class="title">My Group Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="doneBtn" class="right-menu text hidden">Done</div>
</div>

<div id="content" class="innerview-container white-bg">
    <div id="spinner" class="spinner-wrapper text-center"></div>

    <div id="title" class="menu-item hidden">
        <div id="titleTxt" class="title bold">My Group Admin - Kindergarten</div>
        <div id="addBtn" class="right-btn"><i class="icon-fontello-plus"></i></div>
    </div>

</div>
