<div class="navbar">
    <div class="mid-menu">
        <div class="title">Group Settings</div>
    </div>
    <div id="cancelBtn" class="left-menu text">Cancel</div>
    <div id="doneBtn" class="right-menu text hidden">Done</div>
</div>

<div class="innerview-container">
    <div id="spinner" class="spinner-wrapper text-center"></div>

    <div class="lower-area hidden">
        <div id="content" class="wrapper">

            {{!-- <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Johny Appleseed</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Stacy Barr</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Sam Cameron</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> John Hand</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Jenny Ryan</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Sam Smith</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-p2-green"></i></div> Andy Ryan</div>
            </div> --}}

        </div>
    </div>

    <div class="upper-area hidden">
        <div class="menu-item">
            <div class="title bold">Add Group Parent Coordinator</div>
        </div>

        <div class="search-box">
            <div class="field">
                <input id="searchTxt" class="input" type="text" placeholder="Search" />
                <div id="searchBtn" class="icon-wrapper"><i class="icon-fontello-search-1 fa-flip-horizontal"></i></div>
            </div>
        </div>
    </div>

</div>
