<div class="navbar">
    <div class="mid-menu">
        <div class="title">My Group Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="editBtn" class="right-menu text">Edit</div>
</div>

<div class="innerview-container">

    <div class="menu-item no-border-bottom">
        <div id="title" class="title bold">{{!-- ABC School - Kindergarten --}}</div>
    </div>

    <div class="info-wrapper no-border-bottom">
        <div class="info">
            <div class="info-label">Group Name</div>
            <div id="group-name" class="info-content">{{!-- Kindergarten --}}</div>
        </div>
        <div class="info">
            <div class="info-label">Group ID#</div>
            <div id="group-id" class="info-content">{{!-- A7694EFJ5 --}}</div>
            {{!-- <div id="qr" class="qrcode-wrapper"></div> --}}
        </div>
        <div class="info">
            <div class="info-label">Group Label</div>
            <div id="group-label" class="info-content">{{!-- School --}}</div>
        </div>
        <div class="info">
            <div class="info-label">Group Description</div>
            <div id="group-info" class="info-content">{{!-- Kindergarten class of the teacher that described it here --}}</div>
        </div>
    </div>

    <div id="contactsBtn" class="menu-item border-top">
        <div class="text-left">Members</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>

    {{!-- <div id="groupAdminBtn" class="menu-item">
        <div class="text-left">Group Administrators</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> --}}

</div>
