<!-- 

<div class="navbar">
    <div class="mid-menu">
        <div class="title">Acct Access</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="createBtn" class="abs-right-menu">
        <i class="icon-fontello-plus"></i>
    </div>
</div>

<div class="innerview-container">

    <div id="nameEmailBtn" class="menu-item">
        <div class="text-left">teacher@parentplanet.com</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>

    <div class="menu-item no-border-bottom">
        <div class="title bold">Children</div>
    </div>



</div>

-->

<div class="navbar">
    <div class="mid-menu">
        <div id="title" class="title">Account Access</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>
<div class="innerview-container">
    <div id="contect-detail-content">
        <div id="userDetail" class="box hidden">
            <div class="title">User</div>
        </div>
        <div id="delete-associate" class="create-menu-item" >
            <div class="text hidden">Delete</div>
        </div>
        <div id="spinner" class="spinner-wrapper text-center"></div>
    </div>
    
</div>