<div class="navbar">
    <div class="mid-menu">
        <div class="title">Add Activity</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>

<div class="innerview-container">

    
    <div class="menu-item">
        <div class="text-center">Choose a method to scan QR Code</div>
    </div>

    <div class="qrcode-wrapper">
        <div class="img"></div>
    </div>

    <div class="menu-item border-top">
        <div class="text-center scan-btn">Take a photo</div>
    </div>

    <div class="menu-item">
        <div class="text-center scan-btn">Load image</div>
    </div>

    <div class="menu-item">
        <div class="text-center disabled-scan-btn">Next</div>
    </div>
</div>
