<div class="navbar">
    <div class="mid-menu">
        <div class="title">Activities</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>
<div id="main-content" class="innerview-container">
    <div id="spinner" class="spinner-wrapper text-center"></div>
    <div id="title" class="menu-item no-border-bottom hidden" >
        <div id="titleStr" class="title bold">Kindergarten Mrs.Smith</div>
    </div>
    {{!--
    <div class="big-menu-item">
        <div class="position">Teacher</div>
        <div class="name">Ms. Sandy Shaddow</div>
        <div class="icon-group">
            <i class="icon-fontello-phone"></i> 
            <i class="icon-fontello-email"></i> 
            <i class="icon-fontello-comment"></i> 
        </div>
    </div>
    <div class="big-menu-item">
        <div class="position">Asst. Teacher</div>
        <div class="name">Mr. Peter Rodgers</div>
        <div class="icon-group">
            <i class="icon-fontello-phone"></i> 
            <i class="icon-fontello-email"></i> 
            <i class="icon-fontello-comment"></i> 
        </div>
    </div>
    <div class="big-menu-item">
        <div class="position">Room Mom</div>
        <div class="name">Mary Kari</div>
        <div class="icon-group">
            <i class="icon-fontello-phone"></i> 
            <i class="icon-fontello-email"></i> 
            <i class="icon-fontello-comment"></i> 
        </div>
    </div>
    --}}
    {{!-- 
    <div class="empty-space-item"></div>
    <div id="calendarAustoSyncBtn" class="menu-item border-top">
        <div class="text-left">Calendar Auto-Sync</div>
        <div class="switch-right">
            <div class="toggle">
                <input type="checkbox" class="check" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>
    <div id="alertsBtn" class="menu-item">
        <div class="text-left">Alerts</div>
        <div class="switch-right">
            <div class="toggle">
                <input type="checkbox" class="check" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>
    <div id="contactPermissionsBtn" class="menu-item">
        <div class="text-left">Contact Permissions</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <div class="empty-space-item"></div> --}}
    {{!-- 
    <div id="contactPermissionsBtn" class="menu-item border-top">
        <div class="delete">Delete</div>
    </div>
    <div class="empty-space-item"></div> --}}
</div>