<div class="navbar">
    <div class="mid-menu">
        <div class="title">Group Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    {{!-- <div id="editBtn" class="right-menu text">Edit</div> --}}
</div>
<div class="innerview-container white-bg">
    <div class="menu-item">
        <div class="title bold">Add Group Administrator</div>
        <div id="addStudentBtn" class="right-btn"><i class="icon-fontello-plus"></i>
        </div>
    </div>
    {{!-- <div id="" class="menu-item">
        <div class="text-left">Scan QR Code</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div> --}}
    <div class="email-box">
        Enter First Name
        <div class="field">
            <input id="firstName" class="input" type="text" placeholder="First name" value="">
        </div>
        Enter Last Name
        <div class="field">
            <input id="lastName" class="input" type="text" placeholder="Last name" value="">
        </div>
        Enter Email Address
        <div class="field">
            <input id="email" class="input" type="email" autocapitalize="none" placeholder="Administrator Email" value="">
        </div>
        <div id="submit" class="submit-btn" style="margin-top: 5px;">Submit</div>
    </div>
    <div id="addFromOrgBtn" class="menu-item">
        <div class="text-left">Add from Organization</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>
</div>