<div class="navbar">
    <div class="mid-menu">
        <div class="title">New Group</div>
    </div>
    <div id="cancelBtn" class="left-menu text">Cancel</div>
    <div id="doneBtn" class="right-menu text">Done</div>
</div>

<div class="innerview-container setting-body">

    {{!-- <div id="spinner" class="spinner-wrapper text-center"></div> --}}

    <div id="content" class="info-wrapper no-border-top" style="height: 100%;"">

        <div class="info">
            <div class="info-label">Group Name</div>
            <div class="info-content">
                <div class="field">
                    <input id="groupName" class="input" type="text" placeholder="" value="" />
                </div>
            </div>
        </div>

        {{!-- <div class="info hidden">
            <div class="info-label">Organization</div>
            <div id="groupId" class="info-content"></div>
        </div> --}}

        {{!-- <div id="subGroupWrapper" class="info">
            <div class="info-label">Sub-Group of...</div>
            <div class="info-content">

                <div class="field">
                    <div class="picker">
                        <select id="subGroupSelector">
                            <option value="none">None</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>         --}}

        <div class="info">
            <div class="info-label">Group Type</div>
        </div>
        <div id="dd" class="wrapper-dropdown-3" tabindex="1">
            <span id="groupType">Art</span>
            <ul class="dropdown">
              <li><a href="#"><i class="p2-art-ii"></i>Art</a></li>
              <li><a href="#"><i class="p2-baseball"></i>Baseball</a></li>
              <li><a href="#"><i class="p2-basketball"></i>Basketball</a></li>
              <li><a href="#"><i class="p2-birthday"></i>Birthday</a></li>
              <li><a href="#"><i class="p2-boy-scout"></i>Boy Scouts</a></li>
              <li><a href="#"><i class="p2-summer-camps"></i>Camps</a></li>
              <li><a href="#"><i class="p2-cheerleader"></i>Cheeerleading</a></li>
              <li><a href="#"><i class="p2-club"></i>Clubs</a></li>
              <li><a href="#"><i class="p2-computer"></i>Computers</a></li>
              <li><a href="#"><i class="p2-dance"></i>Dance</a></li>
              <li><a href="#"><i class="p2-equestrian"></i>Equestrian</a></li>
              <li><a href="#"><i class="p2-fencing"></i>Fencing</a></li>
              <li><a href="#"><i class="p2-fieldtrip"></i>Field Trip</a></li>
              <li><a href="#"><i class="p2-football"></i>Football</a></li>
              <li><a href="#"><i class="p2-girl-scout"></i>Girl Scouts</a></li>
              <li><a href="#"><i class="p2-golf"></i>Golf</a></li>
              <li><a href="#"><i class="p2-gymnastic"></i>Gymnastics</a></li>
              <li><a href="#"><i class="p2-ice-hockey"></i>Hockey</a></li>
              <li><a href="#"><i class="p2-ice-skating"></i>Ice Skating</a></li>
              <li><a href="#"><i class="p2-lacrosse"></i>Lacrosse</a></li>
              <li><a href="#"><i class="p2-martial-art"></i>Martial Arts</a></li>
              <li><a href="#"><i class="p2-medic"></i>Medical</a></li>
              <li><a href="#"><i class="p2-music"></i>Music</a></li>
              <li><a href="#"><i class="p2-park"></i>Parks</a></li>
              <li><a href="#"><i class="p2-playgroup"></i>Playgroup</a></li>
              <li><a href="#" data-realname = "Buddhist"><i class="p2-buddishm" data-realname = "Buddhist"></i>{{religious}}</a></li>
              <li><a href="#" data-realname = "Christian"><i class="p2-christian" data-realname = "Christian"></i>{{religious}}</a></li>
              <li><a href="#" data-realname = "Jewish"><i class="p2-jews" data-realname = "Jewish"></i>{{religious}}</a></li>
              <li><a href="#" data-realname = "Muslim"><i class="p2-islam" data-realname = "Muslim"></i>{{religious}}</a></li>
              <li><a href="#"><i class="p2-rugby"></i>Rugby</a></li>
              <li><a href="#"><i class="p2-school"></i>School</a></li>
              <li><a href="#"><i class="p2-soccer"></i>Soccer</a></li>
              <li><a href="#"><i class="p2-swimming"></i>Swimming</a></li>
              <li><a href="#"><i class="p2-tennis"></i>Tennis</a></li>
              <li><a href="#"><i class="p2-drama"></i>Theater</a></li>
              <li><a href="#"><i class="p2-therapy"></i>Therapy</a></li>
              <li><a href="#"><i class="p2-fieldtrip"></i>Track & Field</a></li>
              <li><a href="#"><i class="p2-tutor"></i>Tutor</a></li>
              <li><a href="#"><i class="p2-volleyball"></i>Volleyball</a></li>
              <li><a href="#"><i class="p2-water-polo"></i>Water Polo</a></li>
              <li><a href="#"><i class="p2-wrestling"></i>Wrestling</a></li>
              <li><a href="#"><i class="p2-yoga"></i>Yoga</a></li>
            </ul>
        </div>

        <div class="info">
            <div class="info-label">Group Description</div>
            <div class="info-content">
                <div class="field">
                    <textarea id="groupDesc" class="input textarea" style="min-height: 200px;"></textarea>
                </div>
            </div>
        </div>

        <div class="menu-item no-border-bottom">
            <div id="delBtn" class="delete">Delete Group</div>
        </div>
    </div>

</div>
