<div class="navbar">
    <div class="mid-menu">
        <div class="title">Kids</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="doneBtn" class="right-menu text">Done</div>
</div>

<div class="innerview-container">

    <div id="firstName" class="item">
        <div class="box-label">First Name</div>
        <!-- <div class="field">
            <input id="firstNameInput" class="input" type="text" placeholder="" value=""/>
        </div> -->
        <div class="text" id="firstNameText"></div>
    </div>

    <div id="lastName" class="item" style="margin-top: -12px;">
        <div class="box-label">Last Name</div>
        <!-- <div class="field">
            <input id="lastNameInput" class="input" type="text" placeholder="" value=""/>
        </div> -->
        <div class="field">
            <div id="lastNameText" class="text"></div>
    </div>

    <div id="color" class="item">
        <div class="field">
            <div class="color-input">Color</div>
        </div>
        <div id="colorBox" class="color-box"></div>
    </div>

    <div class="menu-item no-border-bottom">
        <div id="delBtn" class="delete" style="cursor:pointer;">Delete</div>
    </div>


</div>
