<div class="navbar">
    <div class="mid-menu">
        <div class="title">Group Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="doneBtn" class="right-menu text hidden">Done</div>
</div>

<div class="innerview-container">

    <div id="spinner" class="spinner-wrapper text-center"></div>

    <div class="lower-area hidden">
        <div id="content" class="wrapper">

            {{!-- <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div> Sally Booboo</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div> Mark Brat</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div> Sam Cameron</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div> John Hand</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div> Jenry Ryan</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div> Sam Smith</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div> Andy Ryan</div>
            </div>
            <div class="menu-item">
                <div class="text-left"><div class="circle-icon-wrapper"><i class="icon-fontello-circle icon-grey"></i></div> Smelly Bottoms</div>
            </div> --}}

        </div>
    </div>

    <div class="upper-area hidden">
        <div class="menu-item">
            <div class="title bold">Add - Students</div>
        </div>

        <div class="search-box">
            <div class="field">
                <input id="searchTxt" class="input" type="text" placeholder="Search here" />
                <div id="searchBtn" class="icon-wrapper"><i class="icon-fontello-search-1 fa-flip-horizontal"></i></div>
            </div>
        </div>

        <div class="selector-menu">
            <div id="groupTitle" class="title">Kindergarten</div>
            <div id="selectAll" class="left-selector">Select All</div>
            <div id="selectNone" class="right-selector">Clear All</div>
        </div>
    </div>


</div>
