<div class="navbar">
    <div class="mid-menu">
        <div class="title">Settings</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
    <div id="editBtn" class="right-menu text hidden">Edit</div> {{!-- Only user with permission shall see this button --}}
</div>

<div class="innerview-container">
    <div id="spinner" class="spinner-wrapper text-center"></div>

    <div class="menu-item no-border-bottom">
        <div id="org-title" class="title bold"> {{!-->ABC School --}}</div>
    </div>

    <div class="info-wrapper">
        <div class="info">
            <div class="info-label">Organization Name</div>
            <div id="org-name" class="info-content">{{!-- ABC School --}}</div>
        </div>
        <div class="info">
            <div class="info-label">Organization ID#</div>
            <div id="org-id" class="info-content">{{!-- G3457URI009 --}}</div>
            {{!--
            <div id="qr" class="qrcode-wrapper"></div>--}}
        </div>
        <div class="info">
            <div class="info-label">Organization Label</div>
            <div id="org-label" class="info-content">{{!-- School --}}</div>
        </div>
        <div class="info">
            <div class="info-label">Organization Description</div>
            <div id="org-description" class="info-content">{{!-- The ABC School of Los Angeles --}}</div>
        </div>
        <div class="info">
            <div class="info-label">Organization Address</div>
            <div id="org-address" class="info-content">{{!-- 33401 West 3rd St.
                <br/>Los Angeles, CA, 90049 --}}</div>
        </div>
    </div>

    <div id="staffBtn" class="menu-item border-top hidden">
        <div class="text-left">Staff</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>

    <div id="groupsBtn" class="menu-item hidden">
        <div class="text-left">Groups</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>

    <div id="studentsBtn" class="menu-item hidden">
        <div class="text-left">Students</div>
        <div class="icon-right">
            <i class="icon-right-open"></i>
        </div>
    </div>

</div>
