<div class="navbar">
    <div id="skipBtn" class="left-menu text">{{afterSignup.skipBtn}}</div>
    <div class="mid-menu">
        <div class="title">Add Kids</div>
    </div>
    <div id="doneBtn" class="right-menu text">{{afterSignup.doneBtn}}</div>
</div>
<div id="main-content" class="innerview-container" style="background: white; padding-bottom: 0px;">
    <div id="main-content-inner" style="padding-top:15px;"></div>
</div>
