<div class="navbar">
    <div class="mid-menu">
        <div id="title" class="title">Contacts</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>

<div class="innerview-container">

    <div id="contect-detail-content">
        <div id="spinner" class="spinner-wrapper text-center"></div>

        <div id="studentDetail" class="box hidden">
        	<div class="title">Kids</div>
        	{{!-- <div class="line-wrapper">
	        	<div class="left">Gon Jr.</div>
	        	<div class="right">Kindergarten</div>
        	</div> --}}
        </div>
        {{!-- <div class="box hidden">
        	<div class="title">Parent</div>
        	<div class="parent-info-left">
        		Emily Ericson<br/>
        		3244 Colifo Dr<br/>
        		The City, CA 90125
        	</div>
        	<div class="parent-info-right"></div>
        </div> --}}
    </div>

</div>
