<ul class="alert-dropdown-menu">
{{#if contact.showPhoneList}}
  <li>
		{{#if contact.showMobilePhone}}
        <a href="tel:{{contact.mobilePhone}}"><i class="icon-fontello-phone"></i></a>
    {{/if}}
    {{#if contact.showWorkPhone}}
        <a href="tel:{{contact.workPhone}}"><i class="icon-fontello-phone"></i></a>
    {{/if}}
    {{#if contact.showHomePhone}}
        <a href="tel:{{contact.homePhone}}"><i class="icon-fontello-phone"></i></a>
    {{/if}}
  </li>        
{{else}}
    <li>No Visible Phonelist to Use</li>
{{/if}}
</ul>