<div class="mid-menu">
	<div class="menu" unselectable="on" >Filter</div>
	<div class="menu" unselectable="on" >Search</div>
</div>
<div class="left-menu">
	<i class="icon-cog"></i>
</div>
<div id="createBtn" class="right-menu">
	<i class="icon-plus large"></i>
</div>