<div id="inner-container" class="row inner-container">
    <div class="sidebar-container" id="sidebar-container">
    </div>
    <div class="outer-page-container row" id="outer-page-container">
        <div class="page-container" id="page-container">



            <div id="main-container">

            </div>
        </div>
    </div>
    <div id="footer" class="footer-container" id="footer-container">
        {{!--
        <footer class="row footer-navbar">
            <ul id="footer-toolbar" class="toolbar-nav">
                {{#each toolbar}}
                <li id="{{id}}">
                    <div>
                        <div class="toolbar-nav-icon"><i class="{{cls}}"></i>
                        </div>
                        <div class="toolbar-nav-label">{{label}}</div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </footer>--}}
        <footer class="row footer-navbar">
            <ul id="footer-toolbar" class="toolbar-nav">

                <li id="home-tool" class="active">
                    <div>
                        <div class="toolbar-nav-icon"><i class="p2-home"></i>
                        </div>
                        <div class="toolbar-nav-label">Home</div>
                    </div>
                </li>

                <li id="calendar-tool" class="">
                    <div class="noti-icon hidden">0</div>
                    <div>
                        <div class="toolbar-nav-icon"><i class="p2-calendar"></i>
                        </div>
                        <div class="toolbar-nav-label">Schedule</div>
                    </div>
                </li>

                <li id="messages-tool" class="">
                    <div class="noti-icon hidden">0</div>
                    <div>
                        <div class="toolbar-nav-icon"><i class="p2-message-i"></i>
                        </div>
                        <div class="toolbar-nav-label">Messages</div>
                    </div>
                </li>

                <li id="homework-tool">
                    <div class="noti-icon hidden">0</div>
                    <div>
                        <div class="toolbar-nav-icon"><i class="p2-homework"></i>
                        </div>
                        <div class="toolbar-nav-label">Homework</div>
                    </div>
                </li>

                <li id="contacts-tool">
                    <div>
                        <div class="toolbar-nav-icon"><i class="p2-contact"></i>
                        </div>
                        <div class="toolbar-nav-label">Contacts</div>
                    </div>
                </li>

            </ul>
        </footer>
    </div>

    <div id="foreground-container"></div>

    <div id="spinner-container" class="hidden">
        <div class="background hidden"></div>
        <div class="inner-container">
            <div class="img-wrapper">
                <img src="img/spinner.gif" alt="" />
            </div>
            <div id="spinner-text" class="text blink">Loading</div>
        </div>
    </div>
    
</div>
