<div class="navbar">
    <div class="mid-menu">
        <div id="title" class="title">Contacts</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>
<div class="innerview-container">
    <div id="contect-detail-content">
        <div id="studentDetail" class="box hidden">
            <div class="title">Child</div>
        </div>
        <div id="spinner" class="spinner-wrapper text-center"></div>
    </div>
</div>
