<div class="navbar">
    <div class="mid-menu">
        <div id="filter" class="menu" unselectable="on">Filter</div>
        <div id="search" class="menu" unselectable="on">Search</div>
    </div>{{!-- 
    <div class="mid-menu">
        <div class="title" style="color:#439a9a;">ParentPlanet</div>
    </div> --}}
    <div id="settingBtn" class="left-menu">
        <i class="icon-fontello-cog"></i>
    </div>
    <div id="createBtn" class="right-menu">
        <i class="icon-fontello-plus"></i>
    </div>
</div>

<div id="view-container" class="innerview-container">


    <div id="hometop" class="home-top-panel">
        {{!-- Messages here --}}
        <div class="title-bar"><div class="icon-wrapper"><i class="p2-message-i"></i></div>Messages</div>
        <div id="messages-content" class="content-wrapper">
            <div id="spinner-top" class="spinner-wrapper text-center"></div>
        </div>
    </div>


    <div id="homebottom" class="home-bottom-panel">
   
        <div id="calendar-bar" class="title-bar"><div class="icon-wrapper"><i class="p2-calendar"></i></div>Schedule
            <div id="slider-btn"><i class="icon-fontello-menu"></i></div>
        </div>

        <div id="calendar-content" class="content-wrapper">
            <div id="spinner-bottom" class="spinner-wrapper text-center"></div>
        </div>

    </div>


</div>
