<div class="navbar">
    <div class="mid-menu">
        <div class="title">Search</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>

<div class="innerview-container">

    <div class="search-content">

        {{!-- Upper --}}
        <div class="upper-area">

            <div class="search-box">
                <div class="field">
                    <input id="searchTxt" class="input" type="text" placeholder="Search here" />
                    <div id="searchBtn" class="icon-wrapper"><i class="icon-fontello-search-1 {{!-- fa-flip-horizontal --}}"></i>
                    </div>
                </div>
            </div>

            <div class="search-menu">
                <div class="wrapper">
                    <div id="scheduleMenu" class="search-menu-item no-border-right border-left active" style="width:33%;">Schedule</div>
                    <div id="messagesMenu" class="search-menu-item no-border-right" style="width:33%;">Messages</div>
                    <!-- <div id="homeworkMenu" class="search-menu-item no-border-right">Homework</div>
                    <div id="contactsMenu" class="search-menu-item border-right">Contacts</div> -->
                    <div id="homeworkMenu" class="search-menu-item border-right" style="width:33%;">Homework</div>
                </div>
            </div>
        </div>

        {{!-- Lower --}}
        <div id="lower-area" class="lower-area content-wrapper">
            
        </div>

    </div>

</div>
