<div class="navbar">
    <div class="mid-menu">
        <div class="title">Terms of Use</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>
<div class="innerview-container" style="background:#fff;">
    <div class="desc">
        <div class=WordSection1>
            <p class=MsoNormal><span >PLEASE REVIEW THESE PARENT
            PLANET, LLC TERMS OF USE CAREFULLY AS THEY CONSTITUTE A LEGALLY BINDING
            CONTRACT BETWEEN YOU AND PARENT PLANET, LLC. IF YOU DO NOT AGREE TO THE TERMS
            OF USE, DO NOT ACCESS OR USE THE WEBSITE, MOBILE APPLICATION, OR SERVICES (THE “WEBSITE”
            AND “MOBILE APP”) TO WHICH THESE TERMS OF USE APPLY. NOTE THAT, IF YOU ARE A
            MINOR (IN MOST STATES, UNDER AGE OF 18), YOU MAY NOT REGISTER OR USE THE PARENT
            PLANET, LLC WEBSITE, MOBILE APP, OR SERVICES WITHOUT SPECIFIC AUTHORIZATION
            FROM YOUR PARENT OR LEGAL GUARDIAN. YOUR USE OF THE WEBSITE CONFIRMS YOUR (OR,
            IF YOU ARE A MINOR, YOUR PARENT OR LEGAL GUARDIAN) ACCEPTANCE OF THESE TERMS OF
            USE.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Welcome to Parent Planet,
            LLC’s website, mobile application, or other web-based program or service (collectively,
            the “Services”) on which these Terms of Use are posted. Parent Planet, LLC
            provides these Services to you subject to the following Terms of Use (“TOU”)
            that may be updated without notice to you, and which updates become effective
            when posted. You are responsible for regularly reviewing these TOU. Continued
            use of the Services after any such update shall constitute your consent to such
            changes. By using any Parent Planet, LLC Services you, you accept, without
            limitation or qualification, the TOU. If you do not with to be bound by these
            TOU, do not use any Parent Planet, LLC Services.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >Description of Services
            Offered</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC Services
            include, but are not limited to, our website and mobile applications which
            provide scheduling, messaging, homework and contacts list for schools,
            organizations and parents.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Any and all visitors to our
            site, despite whether they are registered or not, shall be deemed as
            “users&quot; of the herein contained Services provided for the purpose of this
            TOU. Once an individual registers for our Services, through the process of
            creating an account, the user shall then be considered a &quot;member.&quot;</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >The user and/or member
            acknowledges and agrees that the Services provided and made available through
            our website and applications, which includes some mobile applications and that
            those applications may be made available on various social media networking
            sites and numerous other platforms and downloadable programs, are the sole
            property of Parent Planet, LLC. At its discretion, Parent Planet, LLC may offer
            additional Services and/or products, or update, modify or revise any current
            content and Services, and this Agreement shall apply to any and all additional
            Services and/or products and any and all updated, modified or revised Services
            unless otherwise stipulated. Parent Planet, LLC does hereby reserve the right
            to cancel and cease offering any of the aforementioned Services and/or
            products. You, as the end user and/or member, acknowledge, accept and agree
            that Parent Planet, LLC shall not be held liable for any such updates,
            modifications, revisions, suspensions or discontinuance of any of our Services
            and/or products. </span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Furthermore, the user and/or
            member understands, acknowledges and agrees that the Services offered shall be
            provided &quot;AS IS&quot; and as such Parent Planet, LLC shall not assume any
            responsibility or obligation for the timeliness, missed delivery, deletion
            and/or any failure to store user content, communication or personalization
            settings.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >Registration</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >You may use some Parent
            Planet, LLC Services without registering. Registration, however, will give you
            access to certain features as well as the ability to personalize certain
            features as well as create greater integration.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Registration
            – Where requested, you must provide Parent Planet, LLC Services with accurate,
            complete and current registration information and must update this information
            promptly if it changes. If any information you provide is inaccurate,
            incomplete, or not current, Parent Planet, LLC may suspend or terminate your
            account and access to the Services.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Account,
            Password and Security – When registering with the Services, you will setup an
            account ID (your e-mail address) and a password. You are solely responsible for
            maintaining the confidentiality of your account(s) and password(s).
            Furthermore, you are responsible for all activities, charges and liabilities
            associated with your account(s). You must immediately notify Parent Planet, LLC
            of any unauthorized use of your account(s). You may not transfer your
            account(s) to another person. In cases where you have authorized or registered
            another individual, including a minor, to use your account(s), you are fully
            responsible for (i) the online conduct of such user; (ii) controlling the
            user’s access to and use of the Services; and (iii) the consequences of any
            misuse. In the event that you are a minor, Parent Planet, LLC reserve the right
            to provide access to your account to your parents, guardian or other authorized
            adult.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• European
            Union (EU) Residents - Upon registration, EU Residents will be indicating
            explicit consent that the personal information provided may be transferred and
            stored in countries outside the EU, including the United States. EU Residents
            failing to provide consent will not be permitted to access the portion of the
            Website for which registration is required.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >Privacy Policy</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC is
            concerned about protecting your privacy while accessing our Services. Please
            review our Privacy Policy, which can be found at www.parentplanet.com/privacy.html.
            Your acceptance of the TOU represents an acknowledgment that you have reviewed
            the Privacy Policy.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >Conduct</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >As a member of the Services,
            you herein acknowledge, understand and agree that all information, text,
            software, data, photographs, music, video, messages, tags or any other content,
            whether it is publicly or privately posted and/or transmitted, is the expressed
            sole responsibility of the individual from whom the content originated. In
            short this means that you are solely responsible for any and all content
            posted, uploaded, emailed, transmitted or otherwise made available by way of
            Parent Planet, LLC Services, and as such, we do not guarantee the accuracy,
            integrity or quality of such content. It is expressly understood that by use of
            our Services, you may be exposed to content including, but not limited to, any
            errors or omissions in any content posted, and/or any loss or damage of any
            kind incurred as a result of the use of any content posted, emailed,
            transmitted or otherwise made available by Parent Planet, LLC.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Furthermore, you herein
            agree NOT to make use of Parent Planet, LLC Services for the purpose of:</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal style="margin-left:1em;"><span >• uploading,
            posting, emailing, transmitting, or otherwise making available any content that
            shall be deemed unlawful, harmful, threatening, abusive, harassing, tortious,
            defamatory, vulgar, obscene, libelous, or invasive of another’s privacy or which
            is hateful, and/or racially, ethnically, or otherwise objectionable;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• causing
            harm to minors in any manner whatsoever;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• impersonating
            any individual or entity, including, but not limited to, any Parent Planet, LLC
            employees or falsely stating or otherwise misrepresenting any affiliation with
            an individual or entity;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• forging
            captions, headings or titles or otherwise offering any content that you
            personally have no right to pursuant to any law nor having any contractual or
            fiduciary relationship with;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• uploading,
            posting, emailing, transmitting or otherwise offering any such content that may
            infringe upon any patent, copyright, trademark, or any other proprietary or
            intellectual rights of any other party;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• uploading,
            posting, emailing, transmitting or otherwise offering any content you do not
            personally have any right to offer pursuant to any law or in accordance with
            any contractual or fiduciary relationship;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• uploading,
            posting, emailing, transmitting, or otherwise offering any unsolicited or unauthorized
            advertising, promotional flyers, &quot;junk mail,&quot; &quot;spam,&quot; or
            any other form of solicitation, except in any such areas that may have been
            designated for such purpose;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• uploading,
            posting, emailing, transmitting, or otherwise offering any source that may
            contain a software virus or other computer code, any files and/or programs
            which have been designed to interfere, destroy and/or limit the operation of
            any computer software, hardware, or telecommunication equipment;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• disrupting
            the normal flow of communication, or otherwise acting in any manner that would
            negatively affect other users' ability to participate in any real time
            interactions;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• interfering
            with or disrupting any Parent Planet, LLC Services, servers and/or networks
            that may be connected or related to our website, including, but not limited to,
            the use of any device software and/or routine to bypass the robot exclusion
            headers;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• intentionally
            or unintentionally violating any local, state, federal, national or
            international law, including, but not limited to, rules, guidelines, and/or
            regulations decreed by the U.S. Securities and Exchange Commission, in addition
            to any rules of any nation or other securities exchange, that would include
            without limitation, the New York Stock Exchange, the American Stock Exchange,
            or the NASDAQ, and any regulations having the force of law;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• providing
            informational support or resources, concealing and/or disguising the character,
            location, and or source to any organization delegated by the United States
            government as a “foreign terrorist organization&quot; in accordance to Section
            219 of the Immigration Nationality Act;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• &quot;stalking&quot;
            or with the intent to otherwise harass another individual: and/or</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• collecting
            or storing of any personal data relating to any other member or user in
            connection with the prohibited conduct and/or activities which have been set
            forth in the aforementioned paragraphs.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC herein
            reserves the right to pre-screen, refuse and/or delete any content currently
            available through our Services. In addition, we reserve the right to remove
            and/or delete any such content that would violate the TOS or which would
            otherwise be considered offensive to other visitors, users and/or members.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC herein
            reserves the right to access, preserve and/or disclose member account
            information and/or content if it is requested to do so by law or in good faith
            belief that any such action is deemed reasonably necessary for:</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• compliance
            with any legal process;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• enforcement
            of the TOU;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• responding
            to any claim that therein contained content is in violation of the rights of
            any third party;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• responding
            to requests for customer service; or</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• protecting
            the rights. property or the personal safety of Parent Planet, LLC, its
            visitors, users and members, including the general public.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC herein
            reserves the right to include the use of security components that may permit
            digital information or material to be protected, and that such use of
            information and/or material is subject to usage guidelines and regulations
            established by Parent Planet, LLC. You are hereby prohibited from making any
            attempt to override or circumvent any of the embedded usage rules in our
            Services. Furthermore, unauthorized reproduction, publication, distribution, or
            exhibition of any information or materials supplied by our Services, despite
            whether done so in whole or in part, is expressly prohibited.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >Payment Options and
            Authorization; Payment Terms; Cancellations; Taxes</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Payment
            Options. Most purchases of Subscriptions through the Site, Software, or
            Services, or through our designated third party payment provider, will require
            a valid, accepted, credit card or other payment method that we, or our
            designated third party payment provider, as applicable, in our or their sole
            discretion, elect to accept as payment.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Payment
            Terms. For purchases of Subscriptions through the Site, Software, or Services,
            you authorize us, or our designated third-party payment providers, to charge
            the credit card or other accepted payment method you designate in the amount
            specified in connection with the transaction. If you desire to designate a
            different form of payment, or if there is a change in your payment information,
            you must update your user account or your account with our designated third
            party payment provider, as applicable, to reflect such change. You may
            experience temporary disruption of your access to the Site, Software, or
            Service while we are verifying new payment information. If you transmit to us,
            or one of our designated third-party payment providers, a purchase request, you
            warrant that your use of the particular credit card or other accepted payment
            method is authorized and that all information that you submit to us, or our
            designated third-party payment provider, is true and accurate (including,
            without limitation, your credit card number, expiration date, and other account
            information), and you agree to pay all fees you incur.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Cancellations
            and Refunds. You may cancel your Subscription at any time to prevent further
            charges or renewals. Your subscription benefits will remain in effect until the
            end of the term for which you've paid. No refunds will be processed. We, or our
            designated third party payment provider, as applicable, reserve the right to
            refuse or cancel any purchases or attempted purchases at any time in our sole
            discretion. Further, we, or our designated third party payment provider, as
            applicable, may reverse certain transactions if we have a reasonable,
            good-faith belief that such transactions, alone or together with other
            transactions, are illicit, fraudulent, abusive, unlawful, or otherwise
            conducted in bad faith or as part of any form of unfair dealing (which could
            include such things as cheating, hacking, or other prohibited activity). EXCEPT
            AS OTHERWISE STATED IN THESE TERMS OF USE OR REQUIRED BY APPLICABLE LAW, ALL
            SALES AND PURCHASES ARE FINAL.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Recurring
            Billing. Most Subscriptions will consist of an initial period, for which there
            is a one-time charge, followed by recurring period charges as agreed to by you.
            By entering into these Terms of Use, you acknowledge that your Subscription, if
            any, has an initial and recurring payment feature and you accept responsibility
            for all recurring charges prior to cancellation of such Subscription. WE, OR
            OUR DESIGNATED THIRD PARTY PAYMENT PROVIDER, AS APPLICABLE, MAY SUBMIT PERIODIC
            CHARGES (E.G., MONTHLY) WITHOUT FURTHER AUTHORIZATION FROM YOU, UNTIL YOU
            TERMINATE YOUR AUTHORIZATION OR CHANGE YOUR PAYMENT METHOD. TO TERMINATE YOUR
            SUBSCRIPTION, CONTACT OUR DESIGNATED THIRD PARTY PAYMENT PROVIDER, AS
            APPLICABLE.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Changes
            in the Amount Authorized. If the amount to be charged to you varies from the
            amount you previously authorized (other than due to the imposition or change in
            the amount of Sales Taxes, if any), we, or our designated third party payment
            provider, as applicable, shall provide notice of the amount to be charged and
            the date of the charge at least 10 days before the scheduled date of the
            transaction. You agree that we, or our designated third party payment provider,
            as applicable, may accumulate charges incurred and submit them as one or more
            aggregate charges during or at the end of each billing cycle.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Auto-Renewal;
            Cancellation of Subscriptions. Your Subscription, if any, will be automatically
            extended for successive renewal periods of the same duration as the
            Subscription term originally selected by you. You may change or cancel your
            Subscription at any time during the term of Subscription, including any renewal
            period, by contacting our designated third party payment provider, as
            applicable. If you cancel your Subscription after using Parent Planet, LLC
            account during the Subscription period, your benefits will end immediately.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Free
            Trials and Other Promotions. Any free trial or other promotion that provides
            subscriber-level access to the Site, Software, or Service, if any, must be used
            within the specified time of the free trial or promotion, or if not specified,
            within six (6) months from the start of the free trial or promotion. At our
            discretion, we may allow you to continue access to the Site, Software, or
            Service following the end of the free trial or other promotion, provided that
            we may change the terms and/or fees associated with such access, and at such
            time, you will be required to elect either to accept such fees or terms or to
            elect either to accept such fees or terms or your account will be cancelled.
            You may be required to cancel your Subscription before the end of the free
            trial period or promotional period in order to avoid being charged the
            then-current, non-promotional Subscription rate and being subject to any new
            terms. If you cancel prior to the end of the free trial period or promotional
            period and are inadvertently charged for a Subscription, please contact our
            designated third party payment provider to have the charges reversed.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Payments
            Made Through Partners. The payment methods that we elect to accept for purchase
            may include one or more payment methods offered by a business partner of Parent
            Planet, LLC (&quot;Partner&quot;), in which case your payment may be made
            directly to the Partner and not to us. In such cases, the Partner will be
            responsible for your payment, including cancellations and refunds, and the
            terms and conditions associated with your payment will be as set forth in the
            agreement between you and the applicable Partner.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Currency.
            Unless otherwise stated, all fees and charges are quoted and must be paid in
            U.S. Dollars. Purchases made in currency other than U.S. Dollars shall be made
            at the exchange rate designated in your agreement with your credit card or
            other acceptable payment method provider.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Taxes.
            Your purchases may be subject to applicable sales tax, use tax, value added
            tax, or other similar taxes, duties, or tariffs (collectively, &quot;Sales
            Taxes&quot;). In the event that Sales Taxes apply, we, our designated third
            party payment provider, or a Partner, as applicable, will collect the required
            Sales Taxes from you and remit it to the applicable tax authorities. Under most
            circumstances, the applicability of Sales Taxes will be determined by the
            residence of the person or entity making the purchase. We will not be
            responsible for any taxes on net income, or other taxes, duties, or tariffs
            associated with your acquisition, purchase, or possession of Subscriptions,
            except for Sales Taxes as described in this section or as required by
            applicable law.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >Mobile Usage</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC Services
            include mobile features that allow you to access information in your account
            from your mobile device. Your mobile service provider may charge for use of
            these features. Message and data rates may apply. For more information about
            rates please contact your mobile service provider directly.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >Automatic Features of the
            Software</span></b><span ><br>
            <br>
            </span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >The Software contains a
            feature that allows it to automatically update to incorporate new versions of
            the Software. If you interrupt or disable this feature, your copy of the
            Software may not operate correctly. The Software may contain a feature that is
            used to automatically disable the Software to ensure that you do not use the
            Software longer than the term of your license to use the Software or your subscription
            to use the Services. You acknowledge that upon the expiration of your license
            to use the Software, and if Parent Planet, LLC has not granted you an
            extension, the Software and Services may cease to function in some or all
            respects, and you may lose access to the Services and data made with or stored
            using the Software. You acknowledge that the disabling of the Software is a key
            feature of the license rights and responsibilities conveyed under this
            Agreement.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >CONTRIBUTIONS TO COMPANY
            WEBSITE &amp; APPLICATIONS</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC provides
            an area for our users and members to contribute feedback to our website,
            Services and applications. When you submit ideas, documents, suggestions and/or
            proposals (&quot;Contributions&quot;) to our site, you acknowledge and agree
            that:</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal style="margin-left:1em;"><span >• your
            Contributions do not contain any type of confidential or proprietary
            information;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Parent
            Planet, LLC shall not be liable or under any obligation to ensure or maintain
            confidentiality, expressed or implied, related to any Contributions;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Parent
            Planet, LLC shall be entitled to make use of and/or disclose any such
            Contributions in any such manner as they may see fit;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• the
            contributor's Contributions shall automatically become the sole property of
            Parent Planet, LLC; and</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• Parent
            Planet, LLC is under no obligation to either compensate or provide any form of
            reimbursement in any manner or nature.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >INDEMNITY</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >All users and/or members
            herein agree to insure and hold Parent Planet, LLC, our subsidiaries,
            affiliates, agents, employees, officers, partners and/or licensors blameless or
            not liable for any claim or demand, which may include, but is not limited to,
            reasonable attorney fees made by any third party, which may arise from any
            content a member or user of our site may submit, post, modify, transmit or
            otherwise make available through our Services, the use of Parent Planet, LLC
            Services or your connection with these Services, your violations of the Terms
            of Use and/or your violation of any such rights of another person.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >COMMERCIAL REUSE OF
            SERVICES</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >The member or user herein
            agrees not to replicate, duplicate, copy, trade, sell, resell nor exploit for
            any commercial reason any part, use of, or access to Parent Planet, LLC’s
            Services.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >USE AND STORAGE GENERAL
            PRACTICES</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >You herein acknowledge that
            Parent Planet, LLC may set up any such practices and/or limits regarding the
            use of our Services, without limitation of the maximum number of days that any
            email, schedule event, message posting or any other uploaded content shall be
            retained by Parent Planet, LLC, nor the maximum number of email messages that
            may be sent and/or received by any member, the maximum volume or size of any
            email message that may be sent from or may be received by an account on our
            Service, the maximum disk space allowable that shall be allocated on Parent
            Planet, LLCs servers on the member's behalf, and/or the maximum number of times
            and/or duration that any member may access our Services in a given period of
            time. In addition, you also agree that Parent Planet, LLC has absolutely no
            responsibility or liability for the removal or failure to maintain storage of
            any messages and/or other communications or content maintained or transmitted
            by our Services. You also herein acknowledge that we reserve the right to
            delete or remove any account that is no longer active for an extended period of
            time. Furthermore, Parent Planet, LLC shall reserve the right to modify, alter
            and/or update these general practices and limits at our discretion.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >MODIFICATIONS</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC shall
            reserve the right at any time it may deem fit, to modify, alter and or
            discontinue, whether temporarily or</span></p>
            <p class=MsoNormal><span >Permanently, our service, or
            any part thereof, with or without prior notice. In addition, we shall not be
            held liable to you or to any third party for any such alteration, modification,
            suspension and/or discontinuance of our Services, or any part thereof.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >TERMINATION</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >As a member of Parent
            Planet, LLC Services, you may cancel or terminate your account, associated
            email address and/or access to our Services by submitting a cancellation or
            termination request to terminate@parentplanet.com.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >As a member, you agree that
            Parent Planet, LLC may, without any prior written notice, immediately suspend,
            terminate, discontinue and/or limit your account, any email associated with
            your account, and access to any of our Services. The cause for such termination,
            discontinuance, suspension and/or limitation of access shall include, but is
            not limited to:</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal style="margin-left:1em;"><span >• any
            breach or violation of our TOU or any other incorporated agreement, regulation
            and/or guideline;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• by
            way of requests from law enforcement or any other governmental agencies;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• the
            discontinuance, alteration and/or material modification to our Services, or any
            part thereof;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• unexpected
            technical or security issues and/or problems;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• any
            extended periods of inactivity;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• any
            engagement by you in any fraudulent or illegal  activities; and/or</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• the
            nonpayment of any associated fees that may be owed by you in connection with
            your Parent Planet, LLC account Services.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Furthermore, you herein
            agree that any and all terminations, suspensions, discontinuances, and or
            limitations of access for cause shall be made at our sole discretion and that
            we shall not be liable to you or any other third party with regards to the
            termination of your account, associated email address and/or access to any of
            our Services.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >The termination of your
            account with Parent Planet, LLC shall include any and/or all of the following:</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal style="margin-left:1em;"><span >• the
            removal of any access to all or part of the Services offered by Parent Planet,
            LLC;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• the
            deletion of your password and any and all related information, files, and any
            such content that may be associated with or inside your account or any part
            thereof; and</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• the
            barring of any further use of all or part of our Services.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >LINKS</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Either Parent Planet, LLC or
            any third parties may provide links to other websites and/or resources. Thus,
            you acknowledge and agree that we are not responsible for the availability of
            any such external sites or resources, and as such, we do not endorse nor are we
            responsible or liable for any content, products, advertising or any other
            materials, on or available from such third party sites or resources.
            Furthermore, you acknowledge and agree that Parent Planet, LLC shall not be
            responsible or liable, directly or indirectly, for any such damage or loss
            which may be a result of, caused or allegedly to be caused by or in connection
            with the use of or the reliance on any such content, goods or Services made
            available on or through any such site or resource.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >PROPRIETARY RIGHTS</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >You do hereby acknowledge
            and agree that Parent Planet, LLCs Services and any essential software that may
            be used in connection with our Services shall contain proprietary and
            confidential material that is protected by applicable intellectual property
            rights and other laws. Furthermore, you herein acknowledge and agree that any
            Content which may be contained in any advertisements or information presented
            by and through our Services or by advertisers is protected by copyrights,
            trademarks, patents or other proprietary rights and laws. Therefore, except for
            that which is expressly permitted by applicable law or as authorized by Parent
            Planet, LLC or such applicable licensor, you agree not to alter, modify, lease,
            rent, loan, sell, distribute, transmit, broadcast, publicly perform and/or
            create any plagiaristic works which arc based on Parent Planet, LLC Services
            (e.g. Content or Software), in whole or part.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC herein
            has granted you personal, non-transferable and non-exclusive rights and/or
            license to make use of the object code or our Software and Applications on a
            single computer or device, as long as you do not, and shall not, allow any third
            party to duplicate, alter, modify, create or plagiarize work from, reverse
            engineer, reverse assemble or otherwise make an attempt to locate or discern
            any source code, sell, assign, sublicense, grant a security interest in and/or
            otherwise transfer any such right in</span></p>
            <p class=MsoNormal><span >the Software. Furthermore,
            you do herein agree not to alter or change the Software in any manner, nature
            or form, and as such, not to use any modified versions of the Software,
            including and without limitation, for the purpose of obtaining unauthorized access
            to our Services. Lastly, you also agree not to access or attempt to access our
            Services through any means other than through the interface which is provided
            by Parent Planet, LLC for use in accessing our Services.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >WARRANTY DISCLAIMERS</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >YOU HEREIN EXPRESSLY
            ACKNOWLEDGE AND AGREE THAT:</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal style="margin-left:1em;"><span >• THE
            USE OF PARENT PLANET, LLC SERVICES AND SOFTWARE ARE AT THE SOLE RISK BY YOU.
            OUR SERVICES AND SOFTWARE SHALL BE PROVIDED ON AN &quot;AS IS&quot; AND/OR
            &quot;AS AVAILABLE&quot; BASIS. PARENT PLANET, LLC AND OUR SUBSIDIARIES,
            AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS EXPRESSLY
            DISCLAIM ANY AND ALL WARRANTIES OF ANY KIND WHETHER EXPRESSED OR IMPLIED,
            INCLUDING, BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• PARENT
            PLANET, LLC AND OUR SUBSIDIARIES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND
            LICENSORS MAKE NO SUCH WARRANTIES THAT (i) PARENT PLANET, LLC SERVICES OR
            SOFTWARE WILL MEET YOUR REQUIREMENTS; (ii) PARENT PLANET, LLC SERVICES OR SOFTWARE
            SHALL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE: (iii) THAT SUCH RESULTS
            WHICH MAY BE OBTAINED FROM THE USE OF THE PARENT PLANET, LLC SERVICES OR
            SOFTWARE WILL BE ACCURATE OR RELIABLE; (iv) QUALITY OF ANY PRODUCTS, SERVICES,
            ANY INFORMATION OR OTHER MATERIAL WHICH MAY BE PURCHASED OR OBTAINED BY YOU
            THROUGH OUR SERVICES OR SOFTWARE WILL MEET YOUR EXPECTATIONS: AND (v) THAT ANY
            SUCH ERRORS CONTAINED IN THE SOFTWARE SHALL BE CORRECTED.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• ANY
            INFORMATION OR MATERIAL DOWNLOADED OR OTHERWISE OBTAIN BY WAY OF PARENT PLAMET,
            LLC SERVICES OR SOFTWARE SHALL BE ACCESSED BY YOUR SOLE DISCRETION AND SOLE
            RISK, AND AS SUCH YOU SHALL BE SOLELY RESPONSIBLE FOR AND HEREBY WAIVE ANY AND
            ALL CLAIMS AND CAUSES OF ACTION WITH RESPECT TO ANY DAMAGE TO YOUR COMPUTER AND/OR
            INTERNET ACCESS. DOWNLOADING AND/OR DISPLAYING, OR FOR ANY LOSS OF DATA THAT
            COULD RESULT FROM THE DOWNLOAD OF ANY SUCH INFORMATION OR MATERIAL</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• NO
            ADVICE AND/OR INFORMATION, DESPITE WETHER WRITTEN OR ORAL THAT MAYBE OBTAINED
            BY YOU FROM PARENT PLANET, LLC OR BY WAY OF OR FROM OUR SERVICES OR SOFTWARE
            SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TOU.</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• A
            SMALL PERCENTAGE OF SOME USERS MAY EXPERIENCE SOME DEGREE OF EPILEPTIC SEIZURE
            WHEN EXPOSED TO CERTAIN LIGHT PATTERNS OR BACKGROUNDS THAT MAY BE CONTAINED ON
            A COMPUTER SCREEN OR WHILE USING OUR SERVICES. CERTAIN CONDITIONS MAY INDUCE A
            PREVIOUSLY UNKNOWN CONDITION OR UNDETECTED ELILEPTIC SYMPTOM IN USERS WHO HAVE
            SHOWN NO HISTORY OF ANY PRIOR SEIZURE OR EPILEPSY. SHOULD YOU, ANYONE YOU KNOW
            OR ANYONE IN YOUR FAMILY HAVE AN EPILEPTIC CONDITION, PLEASE CONSULT A PHYSICAN
            IF YOU EXPERIENCE ANY OF THE FOLLOWING SYMPTOMS WHILE USING OUR SERVICES:
            DIZZINESS, ALTERED VISON, EYE OR MUSCLE TWITCHES, LOSS OF AWARNESS,
            DISORIENTATION, ANY INVOLUNTARY MOVEMENT, OR CONVULSIONS.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >LIMITATION OF LIABILITY</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >YOU EXPLICITY ACKNOWLEDGE,
            UNDERSTAND AND AGREE THAT PARENT PLANET, LLC AND OUR SUBSIDIARIES, AFFILIATES,
            OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU
            FOR ANY PUNITIVE, INDIRECT, INCIDENTIAL, SPECIAL, CONSEQUENIAL OR EXEMPLARY
            DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES WHICH MAY BE RELATED TO THE
            LOSS OF ANY PROFITS, GOODWILL, USE, DATA AND/OR OTHER INTANGILBE LOSSES, EVEN
            THOUGH WE MAY HAVE BEEN ADVISED OF SUCH POSSIBILITY THAT SAID DAMAGES MAY
            OCCUR, AND RESULT FROM:</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal style="margin-left:1em;"><span >• THE
            USE OR INABILITY TO USE OUR SERVICE;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• THE
            COST OF PRECURING SUBSTITUTE GOODS AND SERVICES;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• UNAUTHORIZED
            ACCESS TO OR THE ALTERATION OF YOUR TRANSMISSIONS AND/OR DATA;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• STATEMENTS
            OR CONDUCT OF ANY SUCH THIRD PARTY ON OUR SERVICE;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• AND
            ANY OTHER MATTER WHICH MAY BE RELATED TO OUR SERVICE.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >EXCLUSION AND LIMITATIONS</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >THERE ARE SOME JURISDICTIONS
            WHICH DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OF
            EXCLUSION OF LAIBILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. THEREFORE, SOME
            OF THE ABOVE LIMITATIONS OF SECTIONS WARRANTY DISCLAIMERS AND LIMITATION OF
            LIABILITY MAY NOT APPLY TO YOU.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >THIRD PARTY BENEFICIARIES</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >You herein acknowledge,
            understand and agree, unless otherwise expressly provided in this TOU, that
            there shall be third-party beneficiaries to this agreement.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >NOTICE</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC may
            furnish you with notices, including those with regards to any changes to the
            TOU, including but not limited to email, regular mail, MMS or SMS, text
            messaging, postings on our website Services, postings within our mobile
            applications, or other reasonable means currently known or any which may be
            herein after developed. Any such notices may not be received if you violate any
            aspects of the TOU by accessing our Services in an unauthorized manner. Your
            acceptance of this TOU constitutes your agreement that you are deemed to have
            received any and all notices that would have been delivered had you accessed
            our Services in an authorized manner.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >TRADEMARK INFORMATION</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >You herein acknowledge,
            understand and agree that all of the Parent Planet, LLC trademarks, copyright,
            trade name, service marks, and other Parent Planet, LLC logos and any brand
            features, and/or product and service names are trademarks and as such, are and
            shall remain the property of Parent Planet, LLC. You herein agree not to
            display and/or use in any manner the Parent Planet, LLC logo or marks.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >COPYRIGHT OR INTELLECTUAL
            PROPERTY INFRINGEMENT CLAIMS NOTICE &amp; PROCEDURES</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Parent Planet, LLC will
            always respect the intellectual property of others, and we ask that all of our
            users do the same. With regards to appropriate circumstances and at its sole
            discretion, Parent Planet. LLC may disable and/or terminate the accounts of any
            user who repeatedly violates our TOU and/or infringes the rights of others. If
            you feel that your work has been duplicated in such a way that would constitute
            copyright infringement, or if you believe your intellectual property rights
            have been otherwise violated, you should provide to us the following
            information:</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal style="margin-left:1em;"><span >• The
            electronic or the physical signature of the individual that is authorized on
            behalf of the owner of the copyright or other intellectual property interest; </span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• A
            description of the copyrighted work or other intellectual property that you
            believe has been infringed upon;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• A
            description of the location of the site which you allege has been infringing
            upon your work;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• The
            physical address, telephone number, and email address;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• A
            statement, in which you state that the alleged and disputed use of your work is
            not authorized by the copyright owner, its agents or the law;</span></p>
            <p class=MsoNormal style="margin-left:1em;"><span >• And
            finally, a statement, made under penalty of perjury, that the aforementioned
            information in your notice is the truth and accurate, and that you are the
            copyright or intellectual property owner, representative or agent authorized to
            act on the copyright or intellectual property owner's behalf.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >The Parent Planet, LLC Agent
            for notice of claims of copyright or other intellectual property infringement
            can be contacted as follows:</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Mailing Address:</span></p>
            <p class=MsoNormal><span >Parent Planet, LLC</span></p>
            <p class=MsoNormal><span >Ann: Copyright Agent</span></p>
            <p class=MsoNormal><span >13547 Ventura Blvd</span></p>
            <p class=MsoNormal><span >Suite 244</span></p>
            <p class=MsoNormal><span >Sherman Oaks, CA 91423</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Telephone: 800-615-1150</span></p>
            <p class=MsoNormal><span >Fax: 818-305-6114</span></p>
            <p class=MsoNormal><span >Email:  copyright@parentplanet.com</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >GENERAL INFORMATION</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >ENTIRE AGREEMENT</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >This TOU constitutes the
            entire agreement between you and Parent Planet, LLC and shall govern the use of
            our Services, superseding any prior version of this TOU between you and us with
            respect to Parent Planet, LLC Services. You may also be subject to additional
            terms and conditions that may apply when you use or purchase certain other
            Parent Planet, LLC Services, affiliate Services, third-party content or
            third-party software.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >CHOICE OF LAW AND FORUM</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >It is at the mutual
            agreement of both you and Parent Planet, LLC with regard to the TOU that the
            relationship between the parties shall be governed by the laws of the state of
            California without regard to its conflict of law provisions and that any and all
            claims, causes of action and/or disputes, arising out of or relating to the
            TOU, or the relationship between you and Parent Planet, LLC shall be filed
            within the courts having jurisdiction within the County of Los Angeles,
            California or the U.S. District Court located in said state. You and Parent
            Planet, LLC agree to submit to the jurisdiction of the courts as previously
            mentioned, and agree to waive any and all objections to the exercise of
            jurisdiction over the panics by such courts and to</span></p>
            <p class=MsoNormal><span >venue in such courts.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >WAIVER AND SEVERABILITY
            OF TERMS</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >At any time, should Parent
            Planet, LLC fail to exercise or enforce any right or provision of the TOU, such
            failure shall not constitute a waiver of such right or provision. If any
            provision of this TOU is found by a court of competent jurisdiction to be
            invalid, the parties nevertheless agree that the court should endeavor to give
            effect to the parties intentions as reflected in the provision, and the other
            provisions of the TOU remain in full force and effect.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >NO RIGHT OF SURVIVORSHIP
            NON-TRANSFERABILITY</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >You acknowledge, understand
            and agree that your account is non-transferable and any rights to your ID
            and/or contents within your account shall terminate upon your death. Upon
            receipt of a copy of a death certificate, your account may be terminated and
            all contents therein permanently deleted.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >STATUTE OF LIMITATIONS</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >You acknowledge, understand
            and agree that regardless of any statute or law to the contrary, any claim or
            action arising out of or related to the use of our Services or the TOU must be
            filed within 1 year after said claim or cause of action arose or shall be
            forever barred.</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><b><span >VIOLATIONS</span></b></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Please report any and all
            violations of this TOU to Parent Planet, LLC as follows:</span></p>
            <p class=MsoNormal>&nbsp;</p>
            <p class=MsoNormal><span >Mailing Address:</span></p>
            <p class=MsoNormal><span >Parent Planet, LLC</span></p>
            <p class=MsoNormal><span >13547 Ventura Blvd</span></p>
            <p class=MsoNormal><span >Suite 244</span></p>
            <p class=MsoNormal><span >Sherman Oaks, CA 91423</span></p>
            <p class=MsoNormal><span >Telephone: 800-615-1150</span></p>
            <p class=MsoNormal><span >Fax: 818-305-6114</span></p>
            <p class=MsoNormal><span >Email: help@parentplanet.com</span></p>
        </div>
    </div>
</div>