<div class="navbar">
    <div class="mid-menu">
        <div class="title">Custom List</div>
    </div>
    <div id="cancelBtn" class="left-menu text">Cancel</div>
    {{!-- <div id="doneBtn" class="right-menu text">Done</div> --}}
</div>


{{!-- <div id="innerview" class="innerview-container no-overflow-y-scroll hidden">
    <div class="search-name-box">
        <ul>
            <li class="field">
                <input class="xxwide text input" type="text" placeholder="Search input">
            </li>
        </ul>
    </div>

    <div class="inner">
        <div id="spinner" class="spinner-wrapper text-center"></div>
    </div>
</div>
 --}}

 <div class="innerview-container">

    <div id="spinner" class="spinner-wrapper text-center"></div>
    <div id="content">
    {{!-- <div class="menu-item">
        <div class="title bold">Organizations</div>
    </div> --}}
    </div>

</div>
