<div class="navbar">
    <div class="mid-menu">
        <div class="title">Send to</div>
    </div>
    <div id="cancelBtn" class="left-menu text">Cancel</div>
    <div id="donebtn" class="right-menu text">Done</div>
</div>


<div id="innerview" class="innerview-container">
    <div class="create-menu-item pointer">
        <div class="title">Search</div>
    </div>
</div>

<div id="custom-list" class="create-menu-item pointer bottom-fix">
    <div class="text">Custom List</div>
</div>
