<div class="navbar">
    <div class="mid-menu">
        <div class="title">{{message.viewTitle}}</div>
    </div>
    <div id="backBtn" class="left-menu text">{{message.cancel}}</div>
    <div id="doneBtn" class="right-menu text">{{message.done}}</div>
</div>

<div class="innerview-container">
    <div id="" class="create-menu-item">
        <div class="text">Invite</div>
        <div id="sendto" class="right-arrow">
            Select a group <i class="icon-right-open"></i>
        </div>
    </div>
    <div id="" class="create-menu-item" style="width:100%;">
        <div class="text" style="width:100%;">
            <div id="title-field" class="field">
                <input id="title" class="input text-title" type="text" placeholder="Title/Subject" style="text-align:left;"/>
            </div>
        </div>
    </div>
    <div id="" class="create-menu-item" style="border:none; height: 300px;">
        <div id="message-field" class="field">
            <textarea id="message" class="input text-area" rows="3" placeholder="Message"></textarea>
        </div>
    </div>
</div>
