<div class="navbar">
    <div class="mid-menu">
        <div class="title">Send to</div>
    </div>
    <div id="cancelBtn" class="left-menu text">Cancel</div>
    <div id="editBtn" class="right-menu text hidden">Edit</div>
</div>


<div id="innerview" class="innerview-container common-bg" style="padding: 44px 0 43px 0;">
    <div id="spinner" class="spinner-wrapper text-center"></div>
    <div id="content" class="wrapper"></div>
</div>

<div id="mylists" class="create-menu-item pointer" style="position:absolute;top:56px;">
    <div class="title">My Lists</div>
</div>

<div id="custom-list" class="create-menu-item pointer bottom-fix hidden">
    <i class="icon-fontello-plus"></i>
    <div class="text">Add Group</div>
</div>
<div id="add-new-group" class="create-menu-item pointer bottom-fix hidden">
    <div class="text">Add New Group</div>
</div>
