<div class="navbar">
    <div class="mid-menu">
        <div class="title">Send to</div>
    </div>
    <div id="cancelBtn" class="left-menu text">Cancel</div>
    <div id="doneBtn" class="right-menu text">Done</div>
</div>


<div id="innerview" class="innerview-container no-overflow-y-scroll hidden">

    <div class="search-name-box">
        <ul>
            <li class="field">
                <input class="xxwide text input" type="text" placeholder="Search input">
            </li>
        </ul>
        <div id="group-name" class="text-center group-name"></div>
        <div class="link-btn-wrapper">
            <div id="select-all" class="left text-center"><div class="link-btn pointer">Select All</div></div>
            <div id="clear-all" class="right text-center"><div class="link-btn pointer">Clear All</div></div>
        </div>
    </div>
    <div class="inner"></div>
</div>
